.red {
    position: relative;
    height: 100px;
    width: 400px;
    background-color: red;
}

.white {
    position: absolute;
    height: 60px;
    width: 160px;
    top: 20px; 
    right: 20px; 
    background-color: white;
}

.purple1{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 30px;
    right: 30px;
    float: right;
    background-color: purple;
}

.purple2{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 30px;
    right: 80px;
    float: right;
    background-color: purple;
}

.purple3{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 30px;
    right: 130px;
    float: right;
    background-color: purple;
}

.orange1{
    width: 140px;
    height: 40px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: orange;
}

.orange2{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-right: 40px;
    background-color: orange;
}

.orange3{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-right: 40px;
    background-color: orange;
}

.wrapper{
    float:left;
}

.wrapper2{
    float: left;
    background-color: white;
    border-width: 5px;
}

.greenyellow {
    width: 150px;
    height: 250px;
    background-color: greenyellow;
    float: left;
}

.brown {
    width: 250px;
    height: 250px;
    background-color: brown;
    float: left;
}

.yellow {
    height: 100px;
    width: 400px;
    background-color: yellow;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
