.red {
  height: 100px;
  width: 400px;
  background-color: red;
}

.greenyellow {
  width: 150px;
  height: 250px;
  background-color: greenyellow;
  float: left;
}

.wrapper {
  float: left;
}

.purple {
  height: 50px;
  width: 150px;
  background-color: purple;
}

.blue {
  height: 100px;
  width: 150px;
  background-color: blue;
}

.orange {
  height: 150px;
  width: 100px;
  background-color: orange;
  float: left;
}

.brown {
  height: 100px;
  width: 250px;
  background-color: brown;
  clear: both;
}

.yellow {
  height: 100px;
  width: 400px;
  background-color: yellow;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
